*.pub
github_ssh_key*
*bckp*
*.log
cpp_compile
cpp_debug
build
html
latex
src/html
src/latex
include/my_libs/fin/html
include/my_libs/fin/latex
include/my_libs/general/html
include/my_libs/general/latex
include/my_libs/math/html
include/my_libs/math/latex
